
  <mat-toolbar color="primary" class="full-width">
    <mat-toolbar-row>
      <div class="col s3 m3 l3 center-align">
        <div class="chat-avatar" style="background-image: url('/assets/img/chatbot-profile.png')"></div>
      </div>

      <div class="col s6 m6 l6 center-align chat-user-title">
        <h5>EricBot</h5>
        <small class="text-success">
          <i>writing...</i>
        </small>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
    <mat-list dense class="conversation-history mat-typography" appScrollable>
      <mat-list-item appOffsetTop *ngFor="let event of messages; index as i" [dir]="event.sender._id === myId ? 'rtl' : 'ltr'">
        <img matListAvatar matTooltip="{{event.sender.name}}"  src="{{event.sender.photo}}"/>
        <p [dir]="'ltr'">{{event.message}}</p>
      </mat-list-item>
    </mat-list>

  <mat-divider></mat-divider>

  <div class="conversation-input">
    <mat-form-field class="full-width">
      <input matInput placeholder="Write your message..." name="text" [(ngModel)]="text">
      <mat-icon matSuffix (click)="sendText(text)">send</mat-icon>
    </mat-form-field>
  </div>

