.text {
  position: absolute;
  top: 100%;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: top 0.5s;
  cursor: pointer;
}

.hover {
  min-height: 250px;
  width: 250px;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.hover:hover .text {
  top: 50%;
}

mat-list-item > * {
  width: 100%;
}
